<ion-header *ngIf="prestador">
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons>
      <ion-button fill="clear" (click)="close()">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="titulo">
      Perfil del prestador {{ prestador.nombre | uppercase }}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="isAuth(); else politicasPrivacidad">
  <div class="spinner-container" *ngIf="!prestador">
    <ion-spinner name="crescent"></ion-spinner>
  </div>
  

  <div *ngIf="prestador" class="profile-container">
    <ion-card>
      <ion-card-header>
        <img [src]="prestador.imagen" alt="Imagen de perfil"
          onerror="this.onerror=null;this.src='../../assets/thumbnail.svg'">
        <ion-card-subtitle>Pefil {{ prestador.tipo_cuenta }}</ion-card-subtitle>
        <ion-card-title>{{ prestador.nombre | uppercase }} {{ prestador.a_paterno | uppercase}} {{
          prestador.a_materno | uppercase }}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-row>
          <ion-col size="6">
            <ion-button class="call_button" (click)="llamar(prestador.telefono)">
              <ion-icon class="icon-button" name="call-outline"></ion-icon>Llamar
            </ion-button>
          </ion-col>
          <ion-col size="6">
            <ion-button class="whats_button" color="secondary"
              (click)="contactarPorWhatsApp(prestador.telefono)">
              <ion-icon class="icon-button" name="logo-whatsapp"></ion-icon>WhatsApp
            </ion-button>
          </ion-col>
        </ion-row>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>

<ng-template #politicasPrivacidad>
  <div class="politicas-privacidad-message">
    <img class="logo-img" src="../../assets/img/Logo.png">
    <p>Para acceder a esta página, por favor acepta nuestras políticas de privacidad.</p>
    <button ion-button (click)="close()">Salir</button>
  </div>
</ng-template>
