.new-background-color {
  --background: #0C4592;
}

.profile_photo {
  border-radius: 100%;
}

ion-thumbnail {
  --size: 220px;
  --border-radius: 14px;
  display: block;
  margin: auto;
  width: var(--size);
  height: var(--size);
  overflow: hidden; 
}

ion-thumbnail img {
  width: 100%; 
  height: 100%;
  object-fit: cover; 
}

.service-card {
  border-radius: 5px;
  transition: transform 0.3s ease;
}

.service-card:hover {
  transform: translateY(-5px);
}

.service-title {
  font-weight: 700;
}

ion-card {
  ion-card-header {
    padding-top: 5px;
    padding-bottom: 5px;
  }

  ion-card-content {
    text-align: center;
  }

  ion-footer {
    ion-col {
      display: flex;
      justify-content: center;

      ion-chip {
        padding: 0 0 0 5px;
        font-size: 12px;
        height: 12px;

        ion-icon {
          height: 14px;
          width: 14px;
        }
      }
    }
  }
}

