<ion-header [translucent]="true">
  <ion-toolbar class="new-background-color">
    <ion-grid>
      <ion-row class="ion-align-items-center">
        <ion-col size="10">
          <ion-searchbar class="custom-searchbar" animated="true" mode="ios" color="light"
            placeholder="Búsca el nombre de tú colonia" (ionChange)="searchPrestador($event)">
          </ion-searchbar>
        </ion-col>
        <ion-col size="2">
          <ion-button id="popover-button" class="popover-button">
            <div *ngIf="isLoggedIn() && userProfile">
              <img [src]="userProfile.user.imagen" alt="Imagen de perfil" onerror="this.onerror=null;
                this.src='../../../assets/admin.png'">
            </div>
            <ion-icon name="log-in"></ion-icon>
          </ion-button>
          <ion-popover trigger="popover-button" [dismissOnSelect]="true" class="mode-ios">
            <ng-template>
              <ion-content>
                <ion-toolbar>
                  <ion-buttons color="danger" slot="end">
                    <ion-button (click)="closePopover()">
                      <ion-icon slot="icon-only" name="close"></ion-icon>
                    </ion-button>
                  </ion-buttons>
                </ion-toolbar>
                <ion-list *ngFor="let component of components">
                  <ion-item *ngIf="!isLoggedAd()" (click)="login()">Iniciar sesión</ion-item>
                  <ion-item *ngIf=" isLoggedAd()" (click)="perfil(component.calculatorModal)">Ver perfil</ion-item>
                  <ion-item *ngIf=" isLoggedAd()" (click)="logout()">Cerrar sesión</ion-item>
                </ion-list>
              </ion-content>
            </ng-template>
          </ion-popover>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="card-container ion-padding">
  <ion-grid>
    <ion-text>
      <h1 class="ion-padding">Prestadores de servicios</h1>
    </ion-text>
    <ion-row class="ion-justify-content-start">
      <ng-container *ngIf="!searchPerformed || filteredPrestadores.length === 0">
        <ng-container *ngFor="let prestador of prestadores">
          <ng-container *ngIf="isLargeScreen; else smallScreen">
            <ion-col size-lg="4" size-md="6" size-sm="6" size-xs="12">
              <ion-card>
                <ion-card-content>
                  <ion-thumbnail>
                    <img [src]="prestador.imagen" alt="Perfil del prestador"
                      (error)="prestador.imagen = getImagenPorSexo(prestador.sexo, prestador.oficio)" />
                  </ion-thumbnail>
                  <br>
                  <ion-card-title>{{prestador.nombre}}</ion-card-title>
                  <ion-card-subtitle>{{ prestador.a_paterno }}</ion-card-subtitle>
                  <h3>{{prestador.oficio}}</h3>
                  <br>
                  <ion-button class="contactar_button"
                    (click)="contactar('componente-modal-1', prestador.id)">Contactar</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ng-container>
          <ng-template #smallScreen>
            <ion-card>
              <ion-card-content>
                <ion-thumbnail>
                  <ion-thumbnail>
                    <img [src]="prestador.imagen" alt="Perfil del prestador"
                      (error)="prestador.imagen = getImagenPorSexo(prestador.sexo, prestador.oficio)" />
                  </ion-thumbnail>
                </ion-thumbnail>
                <br>
                <ion-card-title>{{prestador.nombre}}</ion-card-title>
                <ion-card-subtitle>{{ prestador.a_paterno }}</ion-card-subtitle>
                <h3>{{prestador.oficio}}</h3>
                <br>
                <ion-button class="contactar_button"
                  (click)="contactar('componente-modal-1', prestador.id)">Contactar</ion-button>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ng-container>
      </ng-container>

      <ng-container *ngIf="searchPerformed && filteredPrestadores.length > 0">
        <!-- Mostrar tarjetas filtradas -->
        <ng-container *ngFor="let prestador of filteredPrestadores">
          <ng-container *ngIf="isLargeScreen; else smallScreen">
            <ion-col size-lg="4" size-md="6" size-sm="6" size-xs="12">
              <ion-card>
                <ion-card-content>
                  <ion-thumbnail>
                    <ion-thumbnail>
                      <img [src]="prestador.imagen" alt="Perfil del prestador"
                        (error)="prestador.imagen = getImagenPorSexo(prestador.sexo, prestador.oficio)" />
                    </ion-thumbnail>
                  </ion-thumbnail>
                  <br>
                  <ion-card-title>{{prestador.nombre}}</ion-card-title>
                  <ion-card-subtitle>{{ prestador.a_paterno }}</ion-card-subtitle>
                  <h3>{{prestador.oficio}}</h3>
                  <br>
                  <ion-button class="contactar_button"
                    (click)="contactar('componente-modal-1', prestador.id)">Contactar</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-col>
          </ng-container>
          <ng-template #smallScreen>
            <ion-card>
              <ion-card-content>
                <ion-thumbnail>
                  <ion-thumbnail>
                    <img [src]="prestador.imagen" alt="Perfil del prestador"
                      (error)="prestador.imagen = getImagenPorSexo(prestador.sexo, prestador.oficio)" />
                  </ion-thumbnail>
                </ion-thumbnail>
                <br>
                <ion-card-title>{{prestador.nombre}}</ion-card-title>
                <ion-card-subtitle>{{ prestador.a_paterno }}</ion-card-subtitle>
                <h3>{{prestador.oficio}}</h3>
                <br>
                <ion-button class="contactar_button"
                  (click)="contactar('componente-modal-1', prestador.id)">Contactar</ion-button>
              </ion-card-content>
            </ion-card>
          </ng-template>
        </ng-container>
      </ng-container>
    </ion-row>
  </ion-grid>


</ion-content>

