// Colores
$primary-color: #0c4e9e;
$hover-color: #f3e600;
$active-color: #ffffff;

.center-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.login-form {
  width: 100%;
  max-width: 400px;
  padding: 0px auto 0px auto;
  border-radius: 10px;
  background-color: #ffffff;
}

.responsive-button {
  width: 100%;
  max-width: 500px;
  margin: 5% auto;
  padding: 15px;
  border-radius: 5px;
  font-weight: bold;
  display: block;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.3s ease;

  &:hover {
    color: #ffffff;
  }

  &:active {
    color: #ffffff;
  }
}

.input-container {
  background-color: #0C4E9E;
  border-radius: .1rem;
  padding: .1rem;
  margin-bottom: .1rem;
}

.aviso{
  font-size: 18px;
  text-align: center;
}
.custom-input {
  background-color: transparent;
}

.input-container:focus-within ion-input {
  border-color: rgb(255, 255, 255);
}

.input-container:focus-within ion-note {
  display: block;
  color: rgb(255, 255, 255);
}

.logo-img {
  width: 90%;
  margin: 2em auto 4em auto;
  display: block;
}

@media (max-width: 768px) {
  .login-form {
    max-width: 90%;
    border-radius: 10px;
    background-color: #ffffff;
  }

  .logo-img {
    width: 70%;
    margin: 2em auto 10em auto;
    padding: auto auto 12em auto;
    margin-bottom: 10px;
  }
}
