ion-content {
  padding: 20px 20px 20px 20px;
  margin: 20px 20px 20px 20px;

  text-align: justify;
}

ion-content div.politicas {
  font-family: Arial, sans-serif;
  font-size: 16px;
  line-height: 1.6;
  margin: 20px 20px 20px 20px;
  text-align: justify;
}

ion-content div.politicas h1 {
  font-size: 24px;
  font-weight: bold;
  margin: 20px 20px 20px 20px;
  text-align: center;
}

ion-content div.politicas h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 20px 20px 20px 20px;
  text-align: justify;
}

ion-content div.politicas p {
  margin: 20px 20px 20px 20px;
  text-align: justify;
}

ion-content div.politicas ul {
  margin: 20px 20px 20px 20px;
  list-style-type: disc;
  text-align: justify;
}

ion-content div.politicas ul li {
  margin: 20px 20px 20px 20px;
  text-align: justify;
}
