<ion-header>
  <ion-toolbar class="ion-text-center" color="primary">
    <ion-buttons>
      <ion-button fill="clear" (click)="close()">
        <ion-icon slot="icon-only" color="light" name="arrow-back"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-title id="titulo">
      Perfil
    </ion-title>
  </ion-toolbar>
</ion-header>


<ion-content>
  <div class="spinner-container " *ngIf="!userProfile">
    <ion-spinner name="crescent"></ion-spinner>
  </div>

  <div *ngIf="userProfile" class="profile-container">
    <ion-card>
      <ion-card-header>
        <ion-thumbnail>
          <img [src]="userProfile.user.imagen" alt="Imagen de perfil"
          onerror="this.onerror=null;
          this.src='https://ionicframework.com/docs/img/demos/thumbnail.svg'">
        </ion-thumbnail>
        <ion-card-title>
          {{ userProfile.user.nombre | uppercase }}
          {{ userProfile.user.a_paterno | uppercase}}
          {{ userProfile.user.a_materno | uppercase}}
        </ion-card-title>
        <ion-card-subtitle *ngIf="userProfile.user.tipo_cuenta === null">
          <strong>Tipo de cuenta: </strong> Administrador
        </ion-card-subtitle>
        <ion-card-subtitle *ngIf="userProfile.user.tipo_cuenta !== null">
          <strong>Tipo de cuenta: </strong> Prestador de servicios
        </ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <p><strong>Correo:</strong> {{ userProfile.email}}</p>
        <p><strong>Contraseña:</strong>  ********</p>
        <p style="color: rgb(196, 12, 12); font-size: 14px;">Por razones de seguridad y privacidad, la contraseña no se puede mostrar.</p>
        <ion-button (click)="verPolitica()" color="primary">Ver política</ion-button>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>
