$primary-color: #0C4592;
$secondary-color: azure;
$common-margin-top: 30px;
$common-height: 40px;

.back_ground_photo {
  color: $primary-color;
}

.profile_photo {
  margin-top: 15px;
}

.call_button,
.whats_button {
  margin-top: $common-margin-top;
  display: block;
  height: $common-height;
}

.call_button {
  color: $secondary-color;
}
.custom-font-size {
  text-align: center;
  font-size: 20px;
}

.icon-button {
  padding-right: 6px;
}

ion-thumbnail {
  --size: 140px;
  --border-radius: 14px;
  justify-content: center;
  align-items: center;
  display: block;
  margin: auto;
}

.profile-container,
.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinner-container {
  height: 100%;
  width: 100%;
  position: absolute;
  z-index: 1;
}

.container {
  --background: $primary-color;
  color: $secondary-color;
}

ion-spinner {
  width: 100px;
  height: 100px;
}
